.site-title{
    color: hsla(0, 0%, 0%, .8);
    font-weight: bold;
    font-size: 1rem;
}
.post-link,
.post-link:active,
.post-link:link,
.post-link:visited{
    color: hsla(0, 0%, 0%, .6);
    font-weight: bold;
    font-size: 1.4rem;
}
.site-title:hover,
.post-link:hover{text-decoration: none;}
.title-home-section{
    color: hsla(0, 0%, 0%, .6);
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0 0 2rem 0;
}
.post-list li{padding: .3rem .8rem 0 .8rem;}
.post-list li:nth-child(2n){background-color: hsla(0, 0%, 0%, .03);}